.video-tooltip-container{
  position: absolute;
  margin-top: 55px;
}

.play-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #ff0000;
}

.play-btn:hover {
  color: #d60000;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.footer {
  margin-top: 10px;
  padding-top: 5px;
}

.vs-title {
  font-size: 20px;
  /* color: #b70000; */
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}