.App {
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.top32, .top16, .top8, .top4, .top2 {
  flex: 1 1 auto;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.top16, .top4 {
  background-color: #f9f2ee;
}

.top16 .RaceNodeCmp {
  margin-top: 55px;
  margin-bottom: 48px;
}

.top8 .RaceNodeCmp {
  margin-top: 158px;
  margin-bottom: 150px;
}

.top4 .RaceNodeCmp {
  margin-top: 365px;
  margin-bottom: 365px;
}

.top2 .RaceNodeCmp {
  margin-top: 770px;
}

.column-caption {
  font-size: 24px;
  font-weight: 600;
}

.column-caption-switch-text {
  font-size: 14px;
  margin-left: 0px;
}

.container {
  display: flex;
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
