.pilot-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* .pilot-container:hover {
  background-color: #E6EFFC;
  color: #2D7AE5;
  cursor: pointer;
} */

.pilot-name {
  /* font-weight: 600; */
  font-size: 14px;
}