@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,600&display=swap');

:root {
  --main-bg-color: #EEF2FA;
  --main-text-color: #5E6E82;
  --race-bg-color: #FFF;

  /* --main-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  --main-font: 'Poppins', sans-serif;
  /* --main-font: console */
}
body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

